@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Roboto:wght@100;400&display=swap');

@import 'vars';
@import 'mixin';

@include defaultState;


body {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100dvh;
    background-image: url(../images/background.png);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

aside {
    width: 20rem;
    padding: 1rem;
    border-right: 2px solid $borderRoze;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    .menuSekcija {
        display: flex;
        justify-content: space-between;
        align-items: center;
        figure {
            &:first-child {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                figcaption {
                    color: $oliveLogo;
                    font-size: 2.4rem;
                    font-weight: bold;
                }
            }
        }
    }
    .asideSekcija,.extraSekcija {
        @include asideExtra;
        h2 {
            color: $mailColor;
        }
    }
}


main {
    padding: 1.25rem;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1rem;
    .pretraziSekcija {
        display: grid;
        grid-template-columns: repeat(3,1fr);
        align-items: center;
        gap: 1rem;
        .mdHidden {
            display: none;
        }
        div {
            grid-column: span 2;
            input {
                width: 50%;
                padding: 0.5rem;
                border-radius: 0.4rem;
            }
        }
        .profileFigure {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            gap: 1.25rem;
            text-align: end;
            color: $mailColor;
            font-size: 1.25rem;
        }
    }
    .emailSekcija {
        border: 2px solid $mailColor;
        border-radius: 0.4rem;
        margin-bottom: 4rem;
        padding: 0.5rem;
        .toolBarDiv {
            border-bottom: 1px solid $mailColor;
            padding: 0rem;
            display: flex;
            gap: 0.5rem;
            figure {
                display: flex;
                align-items: center;
                padding: 0.3rem;
                gap: 1rem;
                figcaption {
                    color: $mailColor;
                    font-size: 1.2rem;
                    text-align: center;
                }
            }
        }
        .emailDiv {
            display: grid;
            grid-template-rows: repeat(8,1fr);
            height: 80%;
            padding-top: 0.5rem;
            gap: 0.5rem;
            div {
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0.5rem 1rem;
                border: 2px solid $borderRoze;
                border-radius: 0.5rem;
                background-color: $pozadineEmail;
                color: #fff;
                font-size: 1.25rem;
                &:hover {
                    width: 70%;
                    margin: 0 auto;
                    transform: scale(1.2);
                }
                article {
                    display: flex;
                    align-items: center;
                    gap: 0.75rem;
                    .circleP {
                        height: 50px;
                        width: 50px;
                        background-color: $mailColor;
                        border-radius: 50%;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        font-size: 1.75rem;
                        color: $borderRoze;
                    }
                }
            }
        }
    }
}

@include tablet {
    aside {
        width: 18rem;
    }
    .extraSekcija {
        display: none!important;
    }
    .inputDiv{
        input {
            width: 100%!important;
        }
    }
}
@include mobilni {
    body {
        display: grid;
        grid-template-columns: 1fr!important;
    }
    aside {
        display: none;
    }
    main {
        .pretraziSekcija {
            display: grid;
            grid-template-columns: repeat(5,1fr);
            gap: 0rem;
            .inputDiv {
                grid-column: span 3;
            } 
            .mdHidden {
                display: flex;
            }
            .profileFigure {
                figcaption {
                    display: none;
                }
            }
        }
        .toolBarDiv {
            justify-content: space-evenly;
            
            figure {
                transition: 2s transform ease-in-out;
                &:hover {
                    transform: rotate(360deg) scale(1.3) translate(50px);
                    background-color: $oliveLogo;
                }
                figcaption {
                    display: none!important;
                }
            }
  
        }
    }
}

@include srednji {
    .toolBarDiv {
        figure {
            display: flex;
            flex-direction: column;
            text-align: center;
        }
    }
}