@import url('https://fonts.googleapis.com/css2?family=Allerta&family=Roboto:wght@100;400&display=swap');

@import 'vars';
@import 'mixin';

@include defaultState;


body {
    display: grid;
    grid-template-columns: auto 1fr;
    height: 100dvh;
    background-image: url(../images/background.png);
    // background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

aside {
    width: 20rem;
    padding: 1rem;
    border-right: 2px solid $borderRoze;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    .menuSekcija {
        display: flex;
        justify-content: space-between;
        align-items: center;
        figure {
            &:first-child {
                display: flex;
                gap: 0.5rem;
                align-items: center;
                figcaption {
                    color: $oliveLogo;
                    font-size: 2.4rem;
                    font-weight: bold;
                }
            }
        }
    }
    .asideSekcija,.extraSekcija {
        @include asideExtra;
        h2 {
            color: $mailColor;
        }
    }
}


main {

}

@include tablet {
    aside {
        width: 18rem;
    }
}
@include mobilni {
    aside {
        display: none;
    }
}